<f:form.validationResults for="{object}.{property}">
    <div>
        <label class="middle" for="{property}">
            <f:translate key="{object}.{property}">{object}.{property}</f:translate>
            <f:if condition="{mandatory}">*</f:if>
        </label>
        <f:form.textarea property="{property}" rows="{rows}" cols="{cols}"
                          id="{property}"
                          placeholder="{f:translate(key:'{object}.{property}')}" />
        <f:if condition="{validationResults.errors}">
            <f:then>
                <p class="help-text">
                    <f:for each="{validationResults.errors}" as="propertyError">
                        <f:translate key="error.{propertyError.code}" arguments="{propertyError.arguments}">
                            {propertyError.message} ({propertyError.code})
                        </f:translate>
                    </f:for>
                </p>
            </f:then>
            <f:else>
                <f:if condition="{hint}">
                    <p class="help-text">
                        <f:translate key="{object}.{property}.hint">{object}.{property}.hint</f:translate>
                    </p>
                </f:if>
            </f:else>
        </f:if>
    </div>
</f:form.validationResults>